<#assign title="添加会员"/>
<#include "/layout/layout.html"/>
<#macro style>
    <style>
        .elem-field {
            margin-bottom: 10px;
            padding: 0;
            border: 1px solid #e2e2e2;
        }
        .elem-field-left{
            margin-left:20px;
            padding: 0 10px;
            font-size: 20px;
            font-weight: 300;
        }
    </style>
</#macro>
<#macro content>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">用户管理</a></li>
            <li><a href="#">栏目管理</a></li>
            <li><a href="#">添加栏目</a></li>
        </ul>
    </div>
    <#include "/layout/back.html"/>
    <form id="form1" name="form1">
        <div class="rightinfo" >
            <div style="width: 49%; float: left;">
                <ul class="forminfo">
                    <li><label>上级栏目ID<b>*</b></label><input name="parentId" type="text"  class="span" readonly /><i></i></li>
                    <li><label>栏目名称<b>*</b></label><input name="name" type="text" datatype="zhen1-10" class="dfinput" maxlength="50"/><i></i></li>
                    <li><label>meta标题</label><input name="title" type="text" class="dfinput" maxlength="50"/><i></i></li>
                    <li><label>meta描述</label><textarea name="description" id="description" class="textinput" style="width: 325px;height: 64px;" maxlength="200"></textarea></li>
                    <li><label>排列顺序</label><input name="priority" type="text" class="dfinput" datatype="n1-2" value="10"/><i></i></li>
                    <li><label>栏目模板</label><input name="tplChannel" type="text" class="dfinput" /><i></i></li>
                    <li><label>内容模板</label><input name="tplContent" type="text" class="dfinput" /><i></i></li>
                    <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="确认保存"/></li>
                </ul>
            </div>
            <div style="width: 49%; float: right;">
                <ul class="forminfo">
                    <li><label>上级栏目</label><input name="parentName" type="text" class="span" readonly /><i></i></li>
                    <li><label>meta关键字</label><input name="keywords" type="text" class="dfinput" maxlength="50"/><i></i></li>
                    <li><label>是否显示<b>*</b></label><cite id="isDisplayCon" style="height: 34px;line-height: 34px; padding-top: 0px"></cite></li>
                    <li><label>评论<b>*</b></label><cite id="commentControlCon" style="height: 34px;line-height: 34px; padding-top: 0px"></cite></li>
                    <li><label>顶踩<b>*</b></label><cite id="allowUpdownCon" style="height: 34px;line-height: 34px; padding-top: 0px"></cite></li>
                    <li><label>审核后<b>*</b></label>
                        <div style="height: 34px;display: inline-block">
                            <select name="afterCheck">

                            </select>
                        </div>
                    </li>
                    <li><label>访问路径</label><input name="channelPath" type="text" class="dfinput" /><i></i></li>
                    <li><label>模型</label><input name="tplModel" type="text" class="dfinput" /><i></i></li>
                </ul>
            </div>
        </div>
        </div>
    </form>
</#macro>
<#macro js>
    <script src="${path}/js/biz/channel/add.js"></script>
    <#include "/template/select.html"/>
    <#include "/template/radio.html"/>
</#macro>
