<#assign title="新闻动态"/>
<#include "/layout/layout.html"/>
<#macro content>
    <div class="i_banner"><img src="${path}/images/i_banner/aptitudes.jpg" alt="教练员资质" class="i_banner_img"></div>

    <dl class="site_th w_1200"><dd>您所在的位置：<a href="index.html">首页</a><em class="china">&gt;</em><a href="###">教练员资质</a><em class="china">&gt;</em><b class="orange_text">等级证书查询</b></dd></dl>

    <div class="box_shadow clearfix box_w w_1200">
        <div class="i_center clearfix">
            <h4 class="r_th"><b>等级证书查询</b></h4>
            <form id="searchForm">
            <div class="i_search">
                <div class="dtdropsel divselect round_m" id="credentialsType"><cite>广场舞</cite>
                    <ul class="dtselect_list">
                        <li data-value="1">广场舞</li>
                        <li data-value="2">排舞</li>
                    </ul>
                </div>

                <div class="dtdropsel divselect round_m" id="trainerType"><cite>教练员</cite>
                    <ul class="dtselect_list">
                        <li data-value="1">教练员</li>
                        <li data-value="2">裁判员</li>
                    </ul>
                </div>

                <input type="text" name="name" class="round_m search_text" placeholder="您的姓名" datatype="zhen" nullmsg="请输入你的姓名">
                <input type="text" name="cardNo" class="round_m search_text" placeholder="您的身份证号码" style="width: 230px;" nullmsg="请输入身份证号">
                <input type="submit" class="search_btn round_m" value="马上查询">
            </div>
            </form>
            <!--end搜索-->
            <!--<div class="book_c"><img src="images/pic/12.jpg" alt=""></div>-->
            <!--end图片-->

            <div class="up_box_b clearfix" id="showResult">
                <div style="color:#888;font-size: 30px">请填写条件进行搜索</div>
            </div>
            <!--end上传框-->

        </div>
    </div>
    <!--end中间区域-->
</#macro>
<#macro js>
    <script type="text/javascript" src="${path}/js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="${path}/js/biz/credentials/index.js"></script>

    <script type="text/html" id="resultTmp">
        <div class="fr up_pic_r w_400">
            <div class="file-box_photo">
                <form>
                    <input type='button' class='btn' value='' style="cursor: pointer"/>
                    <!--<input type="file" name="fileField" class="file" id="fileField" size="28" onchange="document.getElementById('textfield').value=this.value" />-->
                </form>
            </div>
            <!--end上传照片-->
            <ul class="fill_ul clearfix">
                <li class="clearfix">
                    <span class="fl">姓名：</span>
                    <div class="r_cell"><input type="text" class="fill_text_line" value="{{data.name}}"></div>
                </li>
                <li class="clearfix">
                    <span class="fl">身份证号码：</span>
                    <div class="r_cell"><input type="text" class="fill_text_line" name="" value="{{data.cardNo}}"></div>
                </li>
                <li class="clearfix">
                    <span class="fl">工作单位：</span>
                    <div class="r_cell"><input type="text" class="fill_text_line" value="{{data.workUnit}}"></div>
                </li>
            </ul>

        </div>
        <div class="r_cell fill_text_l">
            <h4>现授予</h4>
            <div class="text"><input type="text" class="fill_text_line" value="{{data.name}}">为全国{{data.credentialsTypeName}}</div>
            <div class="text">运动<input type="text" class="fill_text_line" value="{{data.credentialsLevelName}}">级{{data.trainerTypeName}}。</div>

            <div class="d">
                <div class="s"><span class="fl">发证日期：</span>
                    <div class="r_cell"><input type="text" class="fill_text_line" value="{{data.credentialsDate | dateFormat:'yyyy年MM月dd日'}}"></div></div>
                <div class="s"><span class="fl">证书编号：</span>
                    <div class="r_cell"><input type="text" class="fill_text_line" value="{{data.credentialsId}}"></div></div>
            </div>
            <div class="d_o png_img">
                <span class="wechat_100" style="width: 152px;"></span>
                <img src="${path}/images/icon/book_icon.png" alt="">
            </div>
        </div>
</script>
</#macro>