<#assign title="桌面"/>
<#assign bodyClass="body-bg"/>
<#include "/layout/layout.html"/>
<#macro style>
    <style>
        .body-bg {
            background:url(./images/topbg.gif) repeat-x;
        }
    </style>
</#macro>
<#macro content>
    <div class="topleft">
        <a href="index.htm" target="_parent"><img src="images/logo.png" title="系统首页" /></a>
    </div>



    <div class="topright">
        <ul>
            <li><span><img src="images/help.png" title="帮助"  class="helpimg"/></span><a href="#">帮助</a></li>
            <li><a href="#">关于</a></li>
            <li><a href="login.htm" target="_parent">退出</a></li>
        </ul>

        <div class="user">
            <span>${user.userName!''}</span>
            <!--<i>消息</i>-->
            <!--<b>5</b>-->
        </div>

    </div>
</#macro>
<#macro js>
    <script type="text/javascript">
        $(function(){
            //顶部导航切换
            $(".nav li a").click(function(){
                $(".nav li a.selected").removeClass("selected")
                $(this).addClass("selected");
            })
        })
    </script>
</#macro>