<!--star_弹框-->
<!--登录-->
<div class="cd-popup2" id="alert">
    <div class="cd-popup-container2 tips_box">
        <a href="javascript:void(1);" class="cd-popup-close f_close_btn transition_a" id="closeAlert" ></a>
        <h4 class="f_code_th_orange" id="alert_title">温馨提示</h4>
        <div class="ok_box png_img" id="alert_ok_content"  style="display: none;"><img src="${path}/images/icon/ok.png" alt="ok"><h5 ></h5></div>
        <div class="ok_box png_img" id="alert_error_content" style="display: none"><img src="${path}/images/icon/error.png" alt="error"><h5></h5></div>
        <div class="ok_box png_img" id="alert_content" style="display: none"><h5></h5></div>
        <!--end文字-->
    </div>
</div>
<!--end_弹框-->