<div class="min_1200 font_13 clearfix footer" style="margin-top: 0;">
    <div class="w_1200 clearfix footer">
        <div class="fl footer_l png_img">
            <a href="index.html"><img src="${path}/images/footer/logo.png" alt="教练员平台"></a>
            <div class="d">
                <p>杭州市滨江区春晓路411号江南体育中心3楼</p>
                <p>全国免费电话： 400-926-1758</p>
                <p>浙ICP备：11049819号-2 公安机关备案号：33010302000328</p>
            </div>
        </div>
        <div class="r_cell">
            <ul class="h_wechat fr list_2">
                <li><div class="fl"><img src="${path}/images/footer/wechat.png" style="width: 150px;height: 150px;" alt=""></div>
                    <div class="r_cell"><h5><span class="wechat_arrow round_r png"></span>关注我们</h5><p>扫一扫 关注官方微信</p></div>
                </li>
                <li><div class="fl"><img src="${path}/images/footer/app.png" style="width: 150px;height: 150px;"  alt=""></div>
                    <div class="r_cell"><h5><span class="app_arrow round_r png"></span>APP下载</h5><p>扫一扫 下载app上传原创视频</p></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--end文件底-->