<!--登录-->
<div class="cd-popup">
    <form id="form1">
        <div class="cd-popup-container">
            <a href="#0" class="cd-popup-close f_close_btn transition_a"></a>
            <h4 class="f_code_th">帐户登录<p class="blue_link link_line"></p></h4>
            <dl class="login_fill_dl">
                <dt>
                <div class="text_o"><input datatype="mobile" id="account" type="text" name="account" class="fill_text_line" placeholder="请输入手机号" nullmsg="请输入手机号"></div>
                <div class="text_o"><input datatype="*" type="password" id="password" name="password" class="fill_text_line" placeholder="请输入密码" nullnsg="请输入密码"></div>
                </dt>
                <dd>
                    <input type="submit" class="login_btn round_s" value="登录">
                    <div class="t"><span class="fr blue_link"><a href="${path}/retrive/pwd.htm">忘记密码</a></span>
                        <!--<span class="fl orange_link"><a href="javascript:0;" class="cd-popup-trigger1">注册帐号</a></span>-->
                    </div>
                    <!--<div class="d_share"><a href="###" class="png round_r sina_arrow_r"></a><a href="###" class="png round_r wechat_arrow_r"></a></div>-->
                </dd>
            </dl>
        </div>
    </form>
</div>