<script type="text/javascript">
    var path = "${path}";
</script>
<script type="text/javascript" src="${path}/js/lib/jquery.js"></script>
<script type="text/javascript" src="${path}/js/lib/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="${path}/js/lib/jquery.form.min.js"></script>
<script type="text/javascript" src="${path}/js/lib/jquery.fancyspinbox.js"></script>
<script type="text/javascript" src="${path}/js/lib/layer/layer.js"></script>
<script type="text/javascript" src="${path}/js/lib/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="${path}/js/biz/common/validext.js"></script>
<script type="text/javascript" src="${path}/js/lib/template.js"></script>
<script type="text/javascript" src="${path}/js/lib/tools.js"></script>
<script type="text/javascript" src="${path}/js/lib/io.js"></script>
<script type="text/javascript">
    Ajax.config({
        path:path
    })
    template.helper("dateFormat",Tool.dateFormat);
</script>
