<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="keywords" content="<#if keywords??>${keywords!''}<#else>${root.site.keywords!''}</#if>"/>
<meta name="description" content="<#if description??>${description!''}<#else>${root.site.description!''}</#if>"/>
<meta name="author" content="<#if author??>${author!''}<#else>${root.site.author!''}</#if>"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
