<#assign title="资质管理-列表"/>
<#include "/layout/layout.html"/>
<#macro content>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">资质管理</a></li>
            <li><a href="#">列表</a></li>
        </ul>
    </div>
    <div class="rightinfo">
        <div class="tools">
            <ul class="toolbar">
                <li class="click" onclick="Manager.add()"><span><img src="${path}/images/t01.png" /></span>添加</li>
                <li class="click" onclick="Manager.delAllSelectedVal(event)"><span><img src="${path}/images/t03.png" /></span>批量删除</li>
            </ul>
            <form id="importForm" name="importForm" enctype="multipart/form-data">
                <ul class="toolbar1">
                    <input type="file" id="file_select" name="uploadFile" hidden  onchange="Manager.checkImportExcel()">
                    <li class="click" style="cursor:pointer;" onclick="Manager.importExcel()"><span><img style="margin-top: 3px;" src="${path}/images/f05.png" /></span>导入</li>
                    <li class="click" style="cursor:pointer;" onclick="Manager.exportExcel()"><span><img style="margin-top: 3px;" src="${path}/images/f05.png" /></span>导出</li>
                </ul>
            </form>
            <form id="searchForm" name="searchForm">
            <ul class="seachform">
                <li><label>姓名:</label><input name="name" id="name" type="text" class="scinput" /></li>
                <li><label>工作单位:</label><input name="workUnit" id="workUnit" type="text" class="scinput" /></li>
                <li><label>&nbsp;</label><input name="" type="submit" class="scbtn" value="查询"/></li>
            </ul>
            </form>
        </div>
        <table class="tablelist" id="table">
            <thead>
                <tr>
                    <th><input id="th_checkbox" type="checkbox" value="" onclick="Manager.choseAll()"/></th>
                    <th>姓名</th>
                    <th>证书编号</th>
                    <th>证书类型</th>
                    <th>证书等级</th>
                    <th>身份证号</th>
                    <th>人员类型</th>
                    <th>工作单位</th>
					<th>导入时间</th>
                    <th width="150">操作</th>
                </tr>
            </thead>
            <tbody id="table_tbody">

            </tbody>
        </table>
        <div id="table_page">

        </div>
    </div>
</#macro>
<#macro js>
    <script src="${path}/js/biz/common/page.js"></script>
    <script src="${path}/js/biz/common/table.js"></script>
    <script src="${path}/js/biz/coach_center/credentials/list.js"></script>
    <script type="text/html" id="table_temp">
        {{if list.length > 0}}
        {{each list as item}}
        <tr onclick="Tool.clickTr(event,this)">
            <td><input name="checkbox" type="checkbox" value="{{item.id}}" /></td>
            <td>{{item.name}}</td>
            <td>{{item.credentialsId}}</td>
            <td>{{item.credentialsTypeName}}</td>
            <td>{{item.credentialsLevelName.replace('级','')}}</td>
            <td>{{item.cardNo}}</td>
            <td>{{item.trainerTypeName}}</td>
            <td title="{{item.workUnit}}">
				{{if item.workUnit.length > 8 }}
                    {{item.workUnit.substr(0,8)}}
                {{else}}
                    {{item.workUnit}}
                {{/if}}
			</td>
			<td>{{item.gmtCreateFormat}}</td>
            <td>
                <a href="javascript:void(0)" class="tablelink" onclick="Manager.edit('{{item.id}}',event);">修改</a>
                <a href="javascript:void(0)" class="tablelink" onclick="Manager.del('{{item.id}}',event);">删除</a>
            </td>
        </tr>
        {{/each}}
        {{else}}
        <tr style="text-align: center;height: 40px;">
            <td colspan="9">没有数据</td>
        </tr>
        {{/if}}
    </script>
    <#include "/template/select.html"/>
</#macro>
